<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
  <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
  <meta name="author" content="DANI">
  <title> DaniXCode || Downloader </title>
  <meta property="og:site_name" name="og:site_name" content="DANI API">
  <meta property="og:title" name="og:title" content="DANI API">
  <meta property="og:url" name="og:url" content="http://wa.me/6285714627920">
  <meta property="og:image" name="og:image" content="https://telegra.ph/file/35e49164d7a6690d24fea.jpg">
  <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
  <link rel="apple-touch-icon" href="/images/icon.jpg">
  <link rel="shortcut icon" type="image/x-icon" href="/images/icon.jpg">
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/images/Ichika.jpg" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="canonical" href="/" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/nucleo-icons.css" />
  <link rel="stylesheet" href="/css/alli.min.css" />
  <link rel="stylesheet" href="/css/icone.css" />
  <link rel="stylesheet" href="/css/black-dashboard.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous"/>
  <audio autoplay="autoplay" hidden="hidden" src="https://uploader.caliph.my.id/file/Sqi1PT0LIC.mp3"></audio>
</head>

<body class="sidebar-mini dark-content">
<div class="wrapper">
<div class="sidebar" data="dark">
<div class="sidebar-wrapper">
<div class="logo text-center">
<a href="/" class="simple-text logo-normal" style="font-size: large;">
 DANI API
</a>
</div>
<ul class="nav">
<li >
<a href="/docs">
<i class="fal fa-alien-monster"></i>
<p>Dashboard</p>
</a>
</li>
<li>
<a href="/pricing">
<i class="fi-rr-money"></i>
<p>Pricing</p>
</a>
</li>
<li>
<a href="/changelog">
<i class="fi-rr-refresh"></i>
<p>Changelog</p>
</a>
</li>
<li>
<a href="/scraper">
<i class="fas fa-scrubber"></i>
<p>Scraper</p>
</a>
</li>
<hr>
<li>
<a href="/docs/islami">
<i class="far fa-quran"></i>
<p>Islamic</p>
</a>
</li>
<li class="active" >
<a href="/docs/downloader">
<i class="fi-rr-download"></i>
<p>Downloader</p>
</a>
</li>
<li>
<a href="/docs/searching">
<i class="fi-rr-search-alt"></i>
<p>Searching</p>
</a>
</li>
<li>
<a href="/docs/photooxy">
<i class="fi-rr-camera"></i>
<p>Photo Oxy</p>
</a>
</li>
<li>
<a href="/docs/textpro">
<i class="fi-rr-text"></i>
<p>Text Pro</p>
</a>
</li>
<li>
<a href="/docs/ephoto">
<i class="fi-rr-cursor-text"></i>
<p>Ephoto 360</p>
</a>
</li>
<li>
<a href="/docs/photofunia">
<i class="far fa-pencil"></i>
<p>Photo Funia</p>
</a>
</li>
<li>
<a href="/docs/ceritapendek">
<i class="fas fa-book"></i>
<p>Cerita Pendek</p>
</a>
</li>
<li>
<a href="/docs/nsfwsfw">
<i class="far fa-paw"></i>
<p>Nsfw & Sfw</p>
</a>
</li>
<li> 
<a href="/docs/randomanime">
<i class="fa fa-fw fa-laptop"></i>
<p>Random Anime</p>
</a>
</li>
<li>
<a href="/docs/randomimage">
<i class="fi-rr-gallery"></i>
<p>Random Image</p>
</a>
</li>
<li>
<a href="/docs/randomvideo">
<i class="far fa-video"></i>
<p>Random Video</p>
</a>
</li>
<li> 
<a href="/docs/randomtext">
<i class="fi-rr-align-center"></i>
<p>Random Text</p>
</a>
</li>
<li> 
<a href="/docs/moviestory">
<i class="far fa-camera-movie"></i>
<p>Movie & Story</p>
</a>
</li>
<li>
<a href="/docs/berita">
<i class="fal fa-newspaper"></i>
<p>Berita</p>
</a>
</li>
<li>
<a href="/docs/asupan">
<i class="far fa-video"></i>
<p>Asupan</p>
</a>
</li>
<li>
<a href="/docs/animemanga">
<i class="fi-rr-crown"></i>
<p>Anime & Manga</p>
</a>
</li>
<li>
<a href="/docs/information">
<i class="fi-rr-info"></i>
<p>Information</p>
</a>
</li>
<li >
<a href="/docs/stalking">
<i class="fi-rr-stats"></i>
<p>Stalking</p>
</a>
</li>
<li>
<a href="/docs/maker">
<i class="fi-rr-magic-wand"></i>
<p>Maker</p>
</a>
</li>
<li>
<a href="/docs/canvas">
<i class="fi-rr-fill"></i>
<p>Canvas</p>
</a>
</li>
<li>
<a href="/docs/entertainment">
<i class="fa fa-fw fa-smile"></i>
<p>Entertainment</p>
</a>
</li>
<li>
<a href="/docs/primbon">
<i class="fa fa-fw fa-user-md"></i>
<p>Primbon</p>
</a>
</li>
<li>
<a href="/docs/vokalgenerator">
<i class="far fa-font"></i>
<p>Vokal Generator</p>
</a>
</li>
<li>
<a href="/docs/converter">
<i class="fal fa-recycle"></i>
<p>Converter</p>                       
</a>
</li>
<li style="margin-bottom: 8rem !important;" >
<a href="/docs/other">
<i class="fi-rr-tooth"></i>
<p>Other</p>        
</a>
</li>
</ul>
</div>
</div>     
 <div class="main-panel">
   <div class="navbar-minimize-fixed" style="opacity: 0;">
      <button class="minimize-sidebar btn btn-link btn-just-icon">
       <i class="tim-icons icon-align-center visible-on-sidebar-regular text-dark"></i>
       <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-dark"></i>
  </button>
</div>
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="top: 0px;">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-minimize d-inline">
          <button class="minimize-sidebar btn btn-link btn-just-icon" rel="tooltip" data-original-title="Sidebar toggle" data-placement="right" aria-describedby="tooltip723041">
            <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
            <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
          </button>
        </div>
        <div class="navbar-toggle d-inline">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="#">Downloader</a>
      </div>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="navbar-collapse collapse" id="navigation" style>
        <ul class="navbar-nav ml-auto text-dark">
        	<li class="nav-item dropdown no-arrow text-dark">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="tim-icons icon-zoom-split text-dark"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-search p-3 shadow animated--grow-in white-color" aria-labelledby="searchDropdown" style="border: none;">
                    <form class="navbar-search" action="#" method="GET">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" type="submit">
                                    <i class="tim-icons icon-zoom-split text-dark"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control text-dark" name="q" placeholder="Search" autocomplete="off" required>
                        </div>
                    </form>
                </div>
            </li>
            <li class="dropdown nav-item">            	
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <div class="photo">
                        <img src="/images/loli.png" alt="Profile Photo">
                    </div>
                    <b class="caret d-none d-lg-block d-xl-block"></b>
                    <p class="d-lg-none text-dark"><%= username %></p>
                </a>
                <ul class="dropdown-menu dropdown-navbar dropdown-user">
                    <div class="dropdown-user-scroll scrollbar-outer ">
                        <li>
                            <div class="user-box">
                                <div class="avatar-lg"><img src="/images/loli.png" alt="image profile" class="avatar-img rounded"></div>
                                <div class="u-text text-dark">
                                    <h4><%= username %></h4>
                                    <p></p>
                                    <p class="text-dark"><%= email %></p>
                                </div>
                            </div>
                          <li>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-dark" href="/profile"><i class="far fa-address-card text-success"></i>&nbsp;My Profile</a>                              
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-dark" href="/users/logout"><i class="far fa-sign-out text-danger"></i>&nbsp;Logout</a> 
                          </li>
                    </div>
                </ul>                           
            </li>
          <li class="separator d-lg-none"></li>
        </ul>
      </div>
    </div>
   </nav>
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Downloader Documentation</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <tr>
                          <th>Feature</th>
                          <th class="text-center">Method</th>                          
                          <th class="text-center">Parameter</th>
                          <th class="text-center">Status</th>
                          <th class="text-center">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>TikTok</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/tiktok?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>       

                         <tr>
                          <td>TikTok 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/tiktok2?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>                                                             
                        
                        <tr>
                          <td>TikTok Musically</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/tiktokmusically?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>TikTok Mate</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/tiktokmate?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>                                                
                        
                        <tr>
                          <td>TikTok Nowm</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/tiktoknowm?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>TikTok Watermark</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                         
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/tiktokwm?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>TikTok Audio</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/tiktokaudio?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>              

                       <tr>
                          <td>Snap Insta</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/snapinsta?url=https://www.instagram.com/p/Cfu0Im-PXUY/?igshid=ZDc0MTNkNmI=&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>    

                         <tr>
                          <td>Ddd Tik</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/dddtik?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>    

                       <tr>
                          <td>Tiktok Der</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/tiktokder?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>                                                       

                         <tr>
                          <td>Keep Tiktok</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/keeptiktok?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>  

                         <tr>
                          <td>Snaptik</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/snaptik?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>                 

                          <tr>
                          <td>Save From</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/savefrom?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>            

                       <tr>
                          <td>Snapsave</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/snapsave?url=https://fb.watch/9WktuN9j-z/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>   
                        
                        <tr>
                          <td>Ssstik</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/ssstik?url=https://vm.tiktok.com/ZS86cqkW2/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>   

                        <tr>
                          <td>Google Drive</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/googledrive?url=https://drive.google.com/file/d/1Tnfl1opaCysOqlpoNDyb4DodrOk-Yf-X/view&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>                                     
                           
                        <tr>
                          <td>Youtube</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                         
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/youtube?url=https://youtu.be/5C8yvJUVB-0&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Youtube 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                         
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/youtube2?url=https://youtu.be/5C8yvJUVB-0&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Ytplay Mp3</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, query</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/ytplaymp3?query=dendelions&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Ytplay Mp4</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, query</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/ytplaymp4?query=dendelions&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Ytmp3</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/ytmp3?url=https://youtu.be/5C8yvJUVB-0&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Ytmp4</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/ytmp4?url=https://youtu.be/5C8yvJUVB-0&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                                                                        
                        <tr>
                          <td>Aiovideodl</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/aiovideodl?url=https://likee.video/@vicky_marpaung/video/7006676628722311449&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Cocofun Download</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/cocofun?url=http://www.icocofun.com/share/post/457616496291?lang=id&pkg=id&share_to=copy_link&m=c6d95b35bbbbf91ce3da574262388117&d=f7445b55ca8eb354536296f34f9c2a878ccc7704deeb8e2840eed6641f41c5d7&nt=4&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Like Download</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/likee?url=https://l.likee.video/v/MmMNz4&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                       <tr>
                          <td>Imgur Download</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/imgur?url=https://imgur.com/gallery/WGiOMgp&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Imdb Download</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/imdb?url=https://www.imdb.com/video/vi146981657?listId=ls053181649&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Unma Download</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/umma?url=https://umma.id/channel/video/post/gus-arafat-sumber-kecewa-84464612933698&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Spotify Download</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/spotifydl?url=https://open.spotify.com/track/2eAvDnpXP5W0cVtiI0PUxV&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Twitter</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/twitter?url=https://twitter.com/PassengersMovie/status/821025484150423557&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Twitter 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/twitter2?url=https://twitter.com/PassengersMovie/status/821025484150423557&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Twitter 3</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/twitter3?url=https://twitter.com/PassengersMovie/status/821025484150423557&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Instagram</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/igdl?url=https://www.instagram.com/p/CfqaKr5loK0/?utm_source=ig_web_button_share_sheet&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>                 
                                                        
                        <tr>
                          <td>Instagram 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/igdl2?url=https://www.instagram.com/p/CfqaKr5loK0/?utm_source=ig_web_button_share_sheet&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>             

                       <tr>
                          <td>Instagram 3</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/igdl3?url=https://www.instagram.com/p/CfqaKr5loK0/?utm_source=ig_web_button_share_sheet&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>                 

                        <tr>
                          <td>Instagram Story</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, username</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/igstory?username=nanimedesu.id&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Instagram Story 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, username</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/igstory2?username=nanimedesu.id&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Facebook</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/fbdl?url=https://fb.watch/9pOAoIdj2x&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Facebook 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/fbdl2?url=https://fb.watch/9pOAoIdj2x&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Pixiv Download</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, id, ext</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/pixiv?id=94216857&ext=.jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Pinterest Download</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/pindl?url=https://id.pinterest.com/pin/361906520063070744&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Pinterest Download 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/pindl2?url=https://id.pinterest.com/pin/361906520063070744&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>MediaFire</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/mediafire?url=https://www.mediafire.com/file/pwxob70rpgma9lz/GBWhatsApp_v8.75%2528Tutorial_Yud%2529.apk/file&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Zippyshare</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/zippyshare?url=https://www51.zippyshare.com/v/5W0TOBz1/file.html&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Xnxx Download</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                   
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/xnxxdl?url=http://www.xnxx.com/video-131xedbd/junge_leute_gehen_zum_ficken_an_den_strand_hentai&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Xnxx Search</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, query</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/xnxxsearch?query=japanese&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>SoundCloud</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/scdl?url=https://soundcloud.com/user-943750457/jang-ganggu-shine-of-black&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>      

                         <tr>
                          <td>SoundCloud 2</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/scdl2?url=https://soundcloud.com/user-943750457/jang-ganggu-shine-of-black&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>                                                                                                                                
                        
                        <tr>
                          <td>Gore Download</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                         
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/goredl?url=https://seegore.com/arm-ripped-in-work-accident/&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>

                        <tr>
                          <td>Sfile Mobi</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/sfiledl?url=https://sfile.mobi/7lKFMNNrxYX&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Solid Files</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/solidfiles?url=http://www.solidfiles.com/v/zdpVXjvRk8yaV&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>AnonFiles</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/anonfiledl?url=https://anonfiles.com/Z8c1xdC8x6/IMG-20220115-WA0089_2_jpg&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>

                        <tr>
                          <td>StickerPack</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                         
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/stickerdl?url=https://getstickerpack.com/stickers/pentol-7&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>Telegram Stickers</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/telesticker?url=https://t.me/addstickers/junpeifrogy&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>             

                        <tr>
                          <td>Line Stickers</td>
                          <td style="color: #00f2c3" class="text-center">
                            GET
                          </td>                          
                          <td class="text-center">apikey, url</td>
                          <td class="text-center">
                            <span
                              class="badge badge-success"
                              style="color: #27293d"
                              >ONLINE</span
                            >
                          </td>
                          <td class="text-center">
                            <a
                              type="button"
                              class="text-success btn-sm btn-icon"
                              href="/api/download/linesticker?url=https://store.line.me/stickershop/product/6934597/id&apikey=<%= apikey %>"
                              target="_blank"
                              rel="nofollow"
                              title="Try"
                            >
                              <i class="far fa-play"></i>
                            </a>
                          </td>
                        </tr>                                                
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<footer class="footer fixed-bottom">
<div class="copyright text-center my-auto">
<span>
Made With  By Dani | Copyright 2022 -
</span>
<span>
<a id="jam"></a>
</span>
</div>
</footer>
</div>
</div>
<script type="text/javascript">
(function () {
var options = {
whatsapp: "6285714627920", // WhatsApp number
call_to_action: "Chat Jika Ada Yg Mau Ditanyakan.", // Call to action
button_color: "#FF6550", // Color of button
position: "right", // Position may be 'right' or 'left'
};
var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
})();
</script>
<script
      data-cfasync="false"
      src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="/js/core/jquery.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <script src="/js/black-dashboard.min.js"></script>
    <script src="/js/script.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js"
      integrity="sha512-OmBbzhZ6lgh87tQFDVBHtwfi6MS9raGmNvUNTjDIBb/cgv707v9OuBVpsN6tVVTLOehRFns+o14Nd0/If0lE/A=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
